name: Validate

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: HACS Action
        uses: hacs/action@main
        with:
          category: integration

      - name: Validate
        uses: home-assistant/actions@master
        with:
          type: "python"
          root: custom_components/easy_equities
